{% extends "base1.html" %}

{% block title %}{% endblock title %}

{% block body %}
<figure class="figure" style="width: 300px;
  margin-right: 50px;
  margin-left: 90px;
  margin-bottom: 80px;
margin-top:50px;">
  <img width="300px" src="/static/1..jpg" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption"><b>Fruits & vegetables</b></figcaption>
</figure>


<figure class="figure"
style="width: 300px;
  margin-right: 50px;
  margin-bottom: 80px;
margin-top:50px;">
  <img width="300px" src="/static/homecare.jpg" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption"><b>Home-care</b></figcaption>
</figure>

<figure class="figure"
style="width: 300px;
  margin-right: 50px;
  margin-bottom: 80px;
margin-top:50px;">
  <img width="300px" src="/static/dairy.jpg" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption"><b>Dairy</b></figcaption>
</figure>

  <figure class="figure"
style="width: 300px;
  margin-right: 50px;
  margin-bottom: 80px;
margin-top:50px;">
  <img width="300px" src="/static/pfood.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption"><b>packaged-foods</b></figcaption>
</figure>
<div class="container">
<div class="card">
  <img src="/static/aboutus.jpg" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Supporting local buisnessses</h5>
    <p class="card-text">This website has been started with the motive to help peope order daily need items from there nearby grocery-stores, as we all know today's scenario, moving outside your houses is not safe ,so this is an initiative in nation's safety.<br><b>contact us at:abc@gmail.com</b><br><b>contact no.:12345</b></p>
    <a href="https://en.wikipedia.org/wiki/Online_grocer#:~:text=An%20online%20grocer%20is%20either,service%20that%20includes%20grocery%20items.&text=The%20online%20ordering%20is%20done,commerce%20websites%20or%20mobile%20apps." class="btn btn-primary">more information</a>
  </div>
</div>

</div>
</div>

{% endblock body %}
